<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.christopher.linkedoutapp">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application

        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".login"
            android:screenOrientation="portrait" />
        <activity android:name=".Quiz" />
        <activity android:name=".ShortAnswerActivity" />
        <activity android:name=".MultipleChoiceActivity" />
        <activity android:name=".TrueFalseActivity" />
        <activity
            android:name=".StudentDefaultView"
            android:label=""
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>